{% extends "cursos/base.html" %}

{% block title %}
    <h1>{{curso.codigo}} - {{ curso.nombre }}</h1>
{% endblock %}

{% block content %}
{% if mensaje_de_error %}
  <p><strong>{{ mensaje_de_error }}</strong></p>
{% endif %}

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-condensed" id="info-curso">
      <tr>
        <th>Diseñador(a) Instruccional</th>
        <td colspan="3">{{ curso.owner.get_full_name }}</td>
      </tr>
      <tr>
        <th>Profesor Diseñador</th>
        <td colspan="3">{{ curso.profesor.get_full_name }}</td>
      </tr>
      <tr>
        <th>Fecha de Creación:</th>
        <td>{{ curso.fec_creacion|date:"DATE_FORMAT" }}</td>
        <th>Última Actualización:</th>
        <td>{{ curso.fec_modification|date:"DATE_FORMAT" }}</td>
      </tr>
    </table>
    <ul>
    {% for comentario in curso.comentariocurso_set.all %}
      <li>{{ comentario.owner.first_name }} {{ comentario.owner.last_name }} dijo {{ comentario.comentario }} el <small>{{ comentario.fec_creacion|date:"DATE_FORMAT" }}</small></li>
    {% endfor %}
    </ul>

    <form action="{% url 'cursos:comentar' curso.id %}" method="post" role="form">
    {% csrf_token %}
      <div class="form-group">
      <label for="texto">Comentario</label>
      <input id="texto" type="text" name="texto" placeholder="Nuevo Comentario" class="form-control"/>
      </div>
      <input type="submit" value="Comentar" class="btn btn-default"/>
    </form>
  </div>
  <div class="col-md-2">
    <h5>Recursos creados para este curso:</h5>
    <ul>
      {% for recurso in recursos %}
        <li><a href="{% url 'recursos:detalle' recurso.id %}">{{ recurso.nombre }}</a></li>
      {% empty %}
        <li>No hay recursos</li>
      {% endfor %}
      <button class="btn btn-primary" onclick="javascript: top.open('{% url 'recursos:crearRecurso' %}?curso={{ curso.id }}', '_self')">Crear Recurso</button>
    </ul>
  </div>
</div>
{% endblock %}
