{% extends "cursos/base.html" %}

{% block title %}
  <h1>Mis Cursos</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div name="paginador">
       <span class="step-links">
          {% if cursos_list.has_previous %}
              <a href="?page={{ cursos_list.previous_page_number }}&sortby={{sortby}}">&lt;-</a>
          {% endif %}

          <span class="current">
            {% if cursos_list %}
              Página {{ cursos_list.number }} de {{ cursos_list.paginator.num_pages }}
            {% endif %}
          </span>

          {% if cursos_list.has_next %}
              <a href="?page={{ cursos_list.next_page_number }}&sortby={{sortby}}">-&gt;</a>
          {% endif %}
      </span> 
      </div>
    {% if cursos_list %}
        <table class="table">
          <thead>
            <tr>
              <th>
                Código
                <a href="?page={{ cursos_list.number }}&sortby={% if sortby == 'codigo' %}-{% endif %}codigo"><span class="glyphicon glyphicon-sort"></span></a>
              </th>
              <th>
                Nombre
                <a href="?page={{ cursos_list.number }}&sortby={% if sortby == 'nombre' %}-{% endif %}nombre"><span class="glyphicon glyphicon-sort"></span></a>
              </th>
              <th>
                DI
                <a href="?page={{ cursos_list.number }}&sortby={% if sortby == 'di' %}-{% endif %}di"><span class="glyphicon glyphicon-sort"></span></a>
              </th>
            </tr>
          </thead>
          <tbody>
        {% for curso in cursos_list %}
            <tr>
              <td><a href="{% url 'cursos:detalle' curso.id %}">{{ curso.codigo }}</a></td>
              <td>{{ curso.nombre }}</td>
              <td>{{ curso.owner.first_name }} {{ curso.owner.last_name }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
    {% else %}
        <p>No hay cursos disponibles.</p>
    {% endif %}
    </div>
    {% load mytags %}
    {% ifusergroup DI %}
      <div class="col-md-2">
        <button class="btn btn-primary" onclick="javascript: top.open('{% url 'cursos:crearCurso' %}', '_self')">Crear Curso</button>
      </div>
    {% endifusergroup %}
    </div>
  </div>
{% endblock content %}
