{% extends "recursos/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <h1>Asignar Proveedor para "{{recurso.nombre}}"</h1>
{% endblock %}

{% block content %}
{% if mensaje_de_error %}
  <p><strong>{{ mensaje_de_error }}</strong></p>
  <button type="button" class="btn btn-default" onclick="javascript: top.open('{% url 'recursos:detalle' recurso.id %}','_self')">Cancelar</button>
{% else %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action="{% url 'recursos:asignarProveedor' recurso.id %}" method="post" role="form">
      {% csrf_token %}
        <!-- TODO: abrir form.as_p e insertar div con clase "form-group" -->
        {{ proveedorForm | crispy }}
        <button type="button" class="btn btn-default" onclick="javascript: top.open('{% url 'recursos:detalle' recurso.id %}','_self')">Cancelar</button>
        <button type="submit" value="Asignar" class="btn btn-primary">Asignar</button>
      </form>
    </div>
  </div>
{% endif %}
  {% endblock %}

  {% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    {% for field in proveedorForm %}
      $("#{{ field.auto_id }}").addClass("form-control");
    {% endfor %}
  </script>
{% endblock %}
