{% extends "recursos/base.html" %}

{% block title %}
    <h1>Nuevo Recurso</h1>
{% endblock %}

{% block content %}
{% if mensaje_de_error %}
  <p><strong>{{ mensaje_de_error }}</strong></p>
{% endif %}

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form action="{% url 'recursos:crearRecurso' %}" method="post" enctype="multipart/form-data" role="form">
    {% csrf_token %}
      <!-- TODO: abrir form.as_p e insertar div con clase "form-group" -->
      {{ recursoForm.as_p }}
      {{ insumoFormset.as_p }}
      <button type="button" class="btn btn-default" onclick="javascript: top.open('{% url 'recursos:index' %}','_self')">Cancelar</button>
      <button type="submit" value="Crear" class="btn btn-primary">Crear</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  <!-- TODO: agregar clase "form-control" a los input del formulario-->
  <!-- $("#id_password").addClass("form-control"); -->
</script>
{% endblock %}
