{% extends "recursos/base.html" %}

{% block title %}
    <h1><a href="{% url 'recursos:detalle' version.recurso.id %}">"{{version.recurso.nombre}}"</a> v{{ version.version }}</h1>
    <p><a href="{{ version.archivo.url }}">{{ version }}</a></p>
{% endblock %}

{% block content %}
{% if mensaje_de_error %}
  <p><strong>{{ mensaje_de_error }}</strong></p>
{% else %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div>
        <p class="bg-info">{{version.recurso.descripcion}}</p>
      </div>
      <table class="table table-condensed" id="info-recurso">
        <tr>
          <th>Creador:</th>
          <td>{{ version.recurso.creador.get_full_name }}</td>
          <th>Curso:</th>
          <td><a href="{% url 'cursos:detalle' version.recurso.curso.id %}">{{ version.recurso.curso }}</a></td>
        </tr>
        <tr>
          <th>Tipo de Recurso:</th>
          <td>{{ version.recurso.get_tipo_display }}</td>
          <th>Categoría:</th>
          <td>{{ version.recurso.get_categoria_display }}</td>
        </tr>
        <tr>
          <th>Fecha de Entrega:</th>
          <td>{{ version.fecha_entrega|date:"DATE_FORMAT" }}</td>
          {% load mytags %}
          {% ifnotusergroup Profesores %}
          <th>Proveedor:</th>
          <td>
            {{ version.proveedor }}
          </td>
          {% endifnotusergroup %}
        </tr>
        <tr>
          <th>Aprobaciones</th>
          <td colspan=3>
            <table class="table table-bordered">
              <tr>
                <th>DI</th>
                <td> {% if version.aprobado_di %} Sí {% else %} No {% endif %}</td>
                <th>Profesor</th>
                <td> {% if version.aprobado_profesor %} Sí {% else %} No {% endif %}</td>
                <th>Coordinador</th>
                <td> {% if version.aprobado_coordinador %} Sí {% else %} No {% endif %}</td>
              </tr>
            </table>
            {% if mostrarBotonAprobacion %} 
            <button class="btn-mini btn-primary" onclick="javascript: top.open('{% url 'recursos:aprobarVersion' version.id %}', '_self')">Aprobar Entrega</button>
            {% endif %}
          </td>
        </tr>
      </table>
      <ul>
      {% for comentario in version.comentarios.all %}
        <li><small>
          {% ifusergroup Profesores %}
            {% if comentario.autorEsProveedor %}
              El Proveedor
            {% else %}
              {{ comentario.autor }}
            {% endif %}
          {% endifusergroup %}
          {% ifnotusergroup Profesores %}
              {{ comentario.autor }}
          {% endifnotusergroup %}
          </small> dijo {{ comentario.comentario }} el <small>{{ comentario.fec_creacion|date:"DATE_FORMAT" }}</small></li>
      {% endfor %}
      </ul>

      <form action="{% url 'recursos:comentarVersion' version.id %}" method="post" role="form">
      {% csrf_token %}
        <div class="form-group">
        <label for="texto">Comentario</label>
        <input id="texto" type="text" name="texto" placeholder="Nuevo Comentario" class="form-control"/>
        </div>
        <input type="submit" value="Comentar" class="btn btn-default"/>
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}
