{% extends "recursos/base.html" %}

{% block title %}
    <h1>{{recurso.nombre}}</h1>
{% endblock %}

{% block content %}
{% if mensaje_de_error %}
  <p><strong>{{ mensaje_de_error }}</strong></p>
{% else %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div>
        <p class="bg-info">{{recurso.descripcion}}</p>
      </div>
      <table class="table table-condensed" id="info-recurso">
        <tr>
          <th>Creador:</th>
          <td>{{ recurso.creador.get_full_name }}</td>
          <th>Curso:</th>
          <td><a href="{% url 'cursos:detalle' recurso.curso.id %}">{{ recurso.curso }}</a></td>
        </tr>
        <tr>
          <th>Tipo de Recurso:</th>
          <td>{{ recurso.get_tipo_display }}</td>
          <th>Categoría:</th>
          <td>{{ recurso.get_categoria_display }}</td>
        </tr>
        <tr>
          <th>Fecha de Creación:</th>
          <td>{{ recurso.fecha_creacion|date:"DATE_FORMAT" }}</td>
          <th rowspan=2>Insumos:</th>
          <td rowspan=2>
            <ul>
              {% load mytags %}
              {% for insumo in recurso.insumorecurso_set.all %}
                <li><a href="{{ insumo.archivo.url }}">{{ insumo }}</a></li>
              {% empty %}
                <li>No hay insumos.</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          {% ifnotusergroup Profesores %}
          <th>Proveedor:</th>
          <td>
            {% if recurso.proveedor %}
              {{ recurso.proveedor.get_full_name }}
              {% ifusergroup Coordinadores %}
                <button class="btn-mini btn-primary" onclick="javascript: top.open('{% url 'recursos:asignarProveedor' recurso.id %}', '_self')">Reasignar Proveedor</button>
              {% endifusergroup %}
            {% else %}
              no asignado.
              {% ifusergroup Coordinadores %}
                <button class="btn-mini btn-primary" onclick="javascript: top.open('{% url 'recursos:asignarProveedor' recurso.id %}', '_self')">Asignar Proveedor</button>
              {% endifusergroup %}
            {% endif %}
          </td>
          {% endifnotusergroup %}
        </tr>
        <tr>
          <th>Fecha Entrega:</th>
          <td>
            {% if recurso.entrega_estimada %}
              {{ recurso.entrega_estimada|date:"DATE_FORMAT"}}
            {% else %}
              {% ifusergroup Proveedores %}
                <button class="btn-mini btn-primary" onclick="javascript: top.open('{% url 'recursos:definirFechaEntrega' recurso.id %}', '_self')">Informar</button>
              {% endifusergroup %}
            {% endif %}
          </td>
          <th>Entregas:</th>
          <td>
            <ul>
              {% for version in recurso.versionrecurso_set.all %}
                <li><a href="{% url 'recursos:detalleVersionRecurso' version.id %}">{{ version }}</a>
                {% if version.aprobado %}
                  (aprobado)
                {% endif %}
                </li>
              {% empty %}
                <li>No hay entregas.</li>
              {% endfor %}
            </ul>
            {% ifusergroup Proveedores %}
              <button class="btn-mini btn-primary" onclick="javascript: top.open('{% url 'recursos:entregar' recurso.id %}', '_self')">Nueva Entrega</button>
            {% endifusergroup %}
          </td>
        </tr>
      </table>
      <ul>
      {% for comentario in recurso.comentariorecurso_set.all %}
        <li><small>
          {% ifusergroup Profesores %}
            {% if comentario.autorEsProveedor %}
              El Proveedor
            {% else %}
              {{ comentario.autor }}
            {% endif %}
          {% endifusergroup %}
          {% ifnotusergroup Profesores %}
              {{ comentario.autor }}
          {% endifnotusergroup %}
          </small> dijo {{ comentario.comentario }} el <small>{{ comentario.fec_creacion|date:"DATE_FORMAT" }}</small></li>
      {% endfor %}
      </ul>

      <form action="{% url 'recursos:comentar' recurso.id %}" method="post" role="form">
      {% csrf_token %}
        <div class="form-group">
        <label for="texto">Comentario</label>
        <input id="texto" type="text" name="texto" placeholder="Nuevo Comentario" class="form-control"/>
        </div>
        <input type="submit" value="Comentar" class="btn btn-default"/>
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}
