{% extends "recursos/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

    {% block css %}
    {{ block.super }}
    {{ versionForm.media }}
    {% endblock %}

{% block title %}
    <h1>Entregar versión para recurso: "{{ recurso.nombre }}"</h1>
{% endblock %}

{% block content %}
{% if mensaje_de_error %}
  <p><strong>{{ mensaje_de_error }}</strong></p>
  <button type="button" class="btn btn-default" onclick="javascript: top.open('{% url 'recursos:index' %}','_self')">Volver</button>
{% else %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action="{% url 'recursos:entregar' recurso.id %}" method="post" enctype="multipart/form-data" role="form">
      {% csrf_token %}
        {{ versionForm | crispy }}
        <hr>
        <button type="button" class="btn btn-default" onclick="javascript: top.open('{% url 'recursos:detalle' recurso.id %}','_self')">Cancelar</button>
        <button type="submit" value="Aceptar" class="btn btn-primary">Entregar</button>
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}
